[Unit]
Description=Background update Devbox container
Documentation=https://github.com/treindev/trein.os
After=init-devbox.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/devbox-update
