[Unit]
Description=Asynchronous Devbox background update timer
Documentation=https://github.com/treindev/trein.os

[Timer]
OnStartupSec=5m
Persistent=true

[Install]
WantedBy=timers.target
