[Unit]
Description=Initialize Development Distrobox Container
Documentation=https://github.com/treindev/trein.os
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'if ! /usr/bin/distrobox list 2>/dev/null | grep -qw devbox; then /usr/bin/distrobox assemble create --file /etc/distrobox/distrobox.ini; fi'
RemainAfterExit=yes

[Install]
WantedBy=default.target