[Unit]
Description=Initialize Devbox
Documentation=https://github.com/treindev/trein.os

[Service]
Type=oneshot
ExecStart=/usr/bin/devbox assemble
RemainAfterExit=yes

[Install]
WantedBy=default.target